<h1> View Giftlift</h1>

<%= render "form", giftlist: @giftlist  %>

<%# <%= form_with model: @giftlist do |f| %>
<%# ou form_for(@giftlist) do |f| %>
  <%# <%= f.label :name  %>
  <%# <%= f.text_field :name  %>
  <%# <%= f.label :ranking  %>
  <%# <%= f.text_field :ranking  %>
  <%# <%= f.label :rating %>
  <%# <%= f.number_field :rating  %>
  <%# <%= f.submit  %>
<%# <% end  %>
